.song-row {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 600s linear infinite; /* 30s for scrolling duration, adjust as needed */
    -webkit-animation: scroll 600s linear infinite;
    will-change: transform;
    width: 100%;
  }
  
  .song-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 180px; /* Adjust the size of the logo */
  }
  
  .song-logo {
    width: 150px; /* Size of the album logo */
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .song-name {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    color: black; /* Adjust text color */
    font-weight: bold;
  }

  .song-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0px); /* Start off-screen */
      transform: translateX(0px); /* Start off-screen */
    }
    100% {
      -webkit-transform: translateX(0px); /* Start off-screen */
      transform: translateX(-100%); /* End off-screen */
    }
  }
  